.centro {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.button-swimlane {
    margin-right: 3px;
}

.marginRight15 {
    margin-right: 15px;
}

.floatLeft {
    float: left;
}