<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Exportar semana</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.table2excel.min.js"></script>
    <script type="text/javascript" src="js/jquery.kanbantool.api.js"></script>
    <script type="text/javascript" src="js/undescorejs-min.js"></script>
    <script type="text/javascript" src="js/highcharts.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="appController">
<nav class="navbar navbar-default" role="navigation" ng-if="!carregando">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Ikki</a>
        </div>
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Equipe APM</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-if="!carregando" style="margin: 20px 20px 20px 20px">
    <table id="dataXls" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Cards da semana</th>
            <th>Cards concluidos na semana</th>
            <th>Cards corrigidos</th>
            <th>Cards em impedimento</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in result">
            <td>{{ data.name }}</td>
            <td>{{ data.totalTasks }}</td>
            <td>{{ data.totalConcluido }}</td>
            <td>{{ data.repair }}</td>
            <td>{{ data.block }}</td>
            <td>{{ data.completeTask[0].length ? data.completeTask[0].length : (data.completeTask[0] > 0 ? data.completeTask[0] : 0)}}</td>
            <td>{{ data.completeTask[1].length ? data.completeTask[1].length : (data.completeTask[1] > 0 ? data.completeTask[1] : 0) }}</td>
            <td>{{ data.completeTask[2].length ? data.completeTask[2].length : (data.completeTask[2] > 0 ? data.completeTask[2] : 0) }}</td>
            <td>{{ data.completeTask[3].length ? data.completeTask[3].length : (data.completeTask[3] > 0 ? data.completeTask[3] : 0) }}</td>
            <td>{{ data.completeTask[4].length ? data.completeTask[4].length : (data.completeTask[4] > 0 ? data.completeTask[4] : 0) }}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" ng-click="tableExport()">Exportar</button>

</div>
<div ng-if="carregando" class="centro">
    Carregando.... calma!
    <img src="img/loading.gif">
</div>
</body>
</html>