<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-cloak>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Ikki Chart Burnup APM</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.smartmenus.bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.kanbantool.api.js"></script>
    <script type="text/javascript" src="js/undescorejs-min.js"></script>
    <script type="text/javascript" src="js/highcharts.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="appController">
<nav class="navbar navbar-default" role="navigation" ng-if="!carregando">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ikki</a>
        </div>
        <div class="navbar-collapse navbar-left collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': !form.swimlane}">
                    <a href="#" type="submit" ng-click="changeLaneForAllTeam()">Equipe APM</a>
                </li>
                <li ng-repeat="lane in swimlane" ng-if="swimlane.length > 0" ng-class="{'active': form.swimlane.id == lane.id}">
                    <a href="#" ng-click="changeLane(lane)">{{ lane.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-if="!carregando" style="margin: 20px 20px 20px 20px">
    <div ng-if="result.length">
        <div class="col-md-6">
            <high-chart options="chartOptions"></high-chart>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Em andamento</h3></div>
                <div class="panel-body">
                    <div class="floatLeft">Corrigidos: <span class="label label-info marginRight15">{{ repair.length }}</span></div>
                    <div class="floatLeft">Backlog: <span class="label label-default marginRight15">{{ stages[0].count }}</span></div>
                    <div class="floatLeft">Em Progresso: <span class="label label-default marginRight15">{{ stages[1].count }}</span></div>
                    <div class="floatLeft">Aguardando revisão: <span class="label label-default marginRight15">{{ stages[2].count }}</span></div>
                    <div class="floatLeft">Revisão: <span class="label label-default marginRight15"">{{ stages[3].count }}</span></div>
                    <div class="floatLeft">Incidentes: <span class="label label-default">{{ incident.length }}</span></div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading"><h3 class="panel-title">Impedimentos <span class="label label-warning"> {{ blockTasks.length }}</span>
                </h3></div>
                <div class="panel-body">
                    <div ng-repeat="tasks in blockTasks" ng-if="blockTasks.length">
                        <h5 class="text-danger">{{ tasks.block_reason }}</h5>
                        <small> {{ tasks.author }} - ultima alteração: {{ tasks.updated_at | date: 'dd/MM/yyyy' }}
                        </small>
                        <hr>
                    </div>
                    <div ng-if="!blockTasks.length">
                        <small>Sem impedimentos.</small>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div ng-if="carregando" class="centro">
    Carregando.... calma!
    <img src="img/loading.gif">
</div>
</body>
</html>
